html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #177f88;
    --bs-btn-border-color: #177f88;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #177f88;
    --bs-btn-hover-border-color: #177f88;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #177f88;
    --bs-btn-active-border-color: #177f88;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #177f88;
    --bs-btn-disabled-border-color: #177f88;
}

.btn-outline-primary {
    color: #177f88;
    border: 1px solid #177f88;
    background-color: #dffafc71;
    --bs-btn-color: #177f88;
    --bs-btn-border-color: #177f88;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #177f88;
    --bs-btn-hover-border-color: #177f88;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #177f88;
    --bs-btn-active-border-color: #177f88;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #177f88;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #177f88;
    --bs-gradient: none;
}

.btn-outline-primary:hover {
    color: #fff;
    border-color: 1px solid #177f88;
    background-color: #177f88;
}

input:focus {
    box-shadow: none !important;
    outline: 0;
    border: 1px solid #177f88;
}

.error {
    color: red;
    font-size: 0.9em;
    display: block;
}


/* Tooltip inner box */
.tooltip-inner {
    background-color: #064247 !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 12px;
}

/* Fix arrow color */
.tooltip .tooltip-arrow::before {
    border-top-color: #064247 !important;
    /* border-bottom-color: #064247 !important;
    border-left-color: #064247 !important;
    border-right-color: #064247 !important; */
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader .spinner {
    border: 5px solid #ccc;
    border-top: 5px solid #177f88;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.mp0 {
    margin: 0px;
    padding: 0px;
}

.modal-header {
    background-color: #177f88 !important;
}

/* Sidebar container */
@media (max-width: 576px) {
    #sidebarOffcanvas {
        width: 240px;
    }
}

.sidebar-wrapper {
    width: 220px;
    min-width: 220px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

ul.nav.flex-column {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 0;
    margin: 0;
}

/* Top-level menu items */
.nav>.nav-item>.nav-link,
.nav>.nav-item>span.nav-link {
    color: #212529;
    font-weight: 500;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    transition: background 0.2s, color 0.2s;
}

/* Hover on main menu */
.nav>.nav-item>.nav-link:hover,
.nav>.nav-item>span.nav-link:hover {
    background-color: #e9ecef;
    color: #177f88;
}

/* Submenu container */
.nav .nav {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border-left: 2px solid #e9ebed;
    /* tree line */
}

/* Submenu items */
.nav .nav .nav-link {
    color: #64696d;
    font-size: 0.8rem;
    padding: 6px 10px;
    display: block;
    transition: background 0.2s, color 0.2s;
}

/* Submenu hover */
.nav .nav .nav-link:hover {
    background-color: #f1f3f5;
    color: #177f88;
}

/* Active item */
.nav-link.active {
    background-color: #dbeafe !important;
    /* soft blue */
    color: #177f88 !important;
    font-weight: 600;
}

/* Smooth rotation */
.transition-arrow {
    transition: transform 0.3s ease;
}

/* When collapsed */
a.nav-link.collapsed .transition-arrow {
    transform: rotate(0deg);
}

/* When expanded */
a.nav-link:not(.collapsed) .transition-arrow {
    transform: rotate(180deg);
}



/*********************/

table thead th {
    background-color: #dff9fc !important;
    color: #177f88 !important;
}

table th,
table td {
    vertical-align: middle !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

table thead th {
    white-space: nowrap !important;
    text-transform: uppercase;
    font-weight: 500 !important;
}

table tbody td {
    text-transform: capitalize !important;
    padding: 3px 6px !important;
}

.page-item .page-link {
    z-index: 3;
    color: #64696d !important;
    background-color: transparent !important;
    border-color: 1px solid #64696d !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #177f88 !important;
    border-color: 1px solid #177f88 !important;
}

table .btn-outline-primary {
    height: 28px !important;
    width: 28px !important;
    padding: 0px !important;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    border: 1px solid #177f88 !important;
    color: #177f88 !important;
    background-color: transparent !important;
}

table .btn-outline-primary i::before {
    font-size: 140% !important;
    vertical-align: middle;
}

table .btn-outline-primary:hover {
    background-color: #177f88 !important;
    color: #fff !important;
}

.addmore_btn {
    padding: 4px 12px !important;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    border: 1px solid #177f88 !important;
    color: #177f88 !important;
    background-color: transparent !important;
    font-size: 100% !important;
}

.addmore_btn i::before {
    font-size: 130% !important;
    vertical-align: middle;
}


.addmore_btn:hover {
    background-color: #177f88 !important;
    color: #fff !important;
}


/********/
.bigtxt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.dropdown-item {
    cursor: pointer;
}

/* Shrink font size */
.tempusdominus-calendar {
    font-size: 0.75rem;
    /* smaller font */
}

/* Reduce cell padding */
.tempusdominus-calendar table td,
.tempusdominus-calendar table th {
    padding: 0.25rem 0.35rem;
}

/* Shrink header height */
.tempusdominus-calendar .calendar-header {
    padding: 0.25rem 0.5rem;
    font-size: 0.85rem;
}

/* Smaller nav buttons */
.tempusdominus-calendar .btn {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 2px;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: var(--bs-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.select2-container--open {
    z-index: 9999999;
}

.input-group .input-group-text~.select2-container .select2-selection--single,
.input-group .input-group-text~.select2-container .select2-selection--multiple {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group>.select2-container {
    width: auto;
    flex: 1 1 auto;
}

.input-group>.select2-container .select2-selection--single,
.input-group>.select2-container .select2-selection--multiple {
    height: 100%;
    line-height: inherit;
    padding: 0.1rem 0.1rem;
}

.big-toast-icon {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.custom-toast-body {
    max-width: 500px;
    max-height: 200px;
    overflow: auto;
    scrollbar-width: none;
}

.custom-toast-body::-webkit-scrollbar {
    display: none;
}


/*---------PCRegistration_sec-----------
---------------------------------------*/
.PCRegist_sec {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    /* background-image: url(/resources/img/green-sky-bg.jpg); */
    background-image: url(/resources/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.PCRegistpage_wrap {
    width: 100%;
    max-width: 1050px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffffb8;
    border-radius: 8px;
    overflow: hidden;
}

.watermark_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 1;
    opacity: 0.10;
    /* display: none; */
}

.watermark_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.PCRegist_form {
    width: 100%;
    height: auto;
    background: transparent;
    padding: 15px;
    border: 1px solid #375e7b;
    border-radius: 8px 8px 0px 0px;
    position: relative;
    z-index: 2;
}

.PCRegist_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    gap: 15px;
    border-bottom: 1px solid #b3afaf;
}

.card-header {
    border-bottom: none;
}

.PCRegist_header .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.PCRegist_header .right {
    width: 100%;
    min-width: 70px;
    max-width: 70px;
    height: auto;
    overflow: hidden;
    border-radius: 2px;
    display: none;
}

.PCRegist_header .right img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.PCRegist_header .logo {
    width: 100%;
    min-width: 50px;
    max-width: 50px;
    height: auto;
}

.PCRegist_header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.PCRegist_header .logo_desc h2 {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 1.8em;
    font-weight: 600;
    color: #000;
    /* -webkit-animation: txtblink 1s linear infinite;
    -moz-animation: txtblink 1s linear infinite;
    animation: txtblink 1s linear infinite; */
}

/* @keyframes txtblink {
    0% {
        color: #333;
    }

    50% {
        color: #6ea7d2;
    }

    100% {
        color: #00732b;
    }
}

@-webkit-keyframes txtblink {
    0% {
        color: #333;
    }

    50% {
        color: #6ea7d2;
    }

    100% {
        color: #00732b;
    }
} */

.PCRegist_header .logo_desc p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #000;
}

.PCRegist_footer {
    width: 100%;
    height: auto;
    padding: 6px 10px 10px;
    background-color: #375e7b;
    color: #fff;
    border-radius: 0px 0px 8px 8px;
    position: relative;
    z-index: 2;
}

.PCRegist_footer p {
    font-size: 85%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.PCRegist_form .card {
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.PCRegist_form .card-header {
    border-radius: 0 !important;
    /* background-color: #177f88 !important; */
    background-color: transparent !important;
}

.PCRegist_form .card-header .card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    color: #375e7b;
    font-weight: 700;
    text-decoration: underline;
}

.PCRegist_form .card-header .card-title i {
    display: none;
}

.PCRegist_form .card-body {
    padding: 1rem 0 0 !important;
    background-color: transparent;
}

.PCRegist_form button[type="submit"] {
    background-color: #388817;
    border: 1px solid #388817;
    color: #fff;
    transition: 0.6s;
    display: block;
    margin: 10px 0 0 auto;
    max-width: 250px;
}

.PCRegist_form button[type="submit"]:hover {
    background-color: #083438;
    border: 1px solid #083438;
}

.PCRegist_form .form-check-input {
    cursor: pointer;
}

.PCRegist_form .form-check-input:checked {
    background-color: #375e7b;
    border-color: #375e7b;
    box-shadow: none;
}

.PCRegist_form .input-group {
    margin-bottom: 10px;
    z-index: 1;
}

.PCRegist_form .input-group:focus .input-group-text,
.PCRegist_form .input-group:focus {
    border: 1px solid #375e7b !important;
}

.PCRegist_form .input-group-text {
    color: #212529;
}

.PCRegist_form input:focus,
.PCRegist_form select:focus,
.PCRegist_form textarea:focus {
    box-shadow: none;
    border: 1px solid #375e7b;
}

.PCRegist_form select::selection {
    background: #375e7b !important;
}

.PCRegist_form input[type="text"],
.PCRegist_form input[type="time"],
.PCRegist_form textarea,
.PCRegist_form select {
    background-color: transparent !important;
    border: 1px solid #b3afaf !important;
    font-weight: 500 !important;
}

.PCRegist_form .input-group-text {
    background-color: transparent !important;
    border: 1px solid #b3afaf !important;
}

.PCRegist_form input::placeholder,
.PCRegist_form textarea::placeholder,
.PCRegist_form select {
    color: #000;
}

/********************/
.thankyou_page {
    width: 100%;
    padding: 45px 15px;
}

.thankyou_page .head {
    font-size: 165%;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.download_btn {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: #e9ac03;
    color: #000;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: none;
    outline: 0;
}

.thankyou_icon {
    font-size: 300%;
    text-align: center;
    color: #00732b;
}


/*--------main Header sec-----------
-----------------------------------*/
.main_header {
    width: 100%;
    height: auto;
    padding: 5px 15px;
    background-color: #177f88;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.main_header .navbar-brand img {
    width: auto;
    height: 40px;
    object-fit: contain;
}

.toggleMenu {
    padding: 1px 10px 1px 1px;
    background: transparent;
    color: #fff;
    width: auto;
    height: auto;
    font-size: 30px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
}

.toggleMenu:focus {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    outline: 0;
}


/*--------main footer sec-----------
-----------------------------------*/
.main_footer {
    background-color: #064247;
    color: #fff;
}

.main_footer div {
    color: #fff;
}

/*--------main footer sec-----------
-----------------------------------*/
.loginpage_sec {
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding: 30px 0;
    /* background-image: url(/resources/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1; */
}

/* .loginpage_sec::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 50%);
    z-index: -1;
} */

.loginform_wrap {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.loginform_wrap .card {
    border: 0px;
    box-shadow: 0px 0px 5px 0px #7f7b7b;
}

.loginform_wrap .card-header {
    background-color: transparent !important;
    border: 0px;
    padding: 15px 0 !important;
}

.loginform_wrap .card-title {
    color: #177f88;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
}

.loginform_wrap .input-group {
    margin-bottom: 10px;
}

.loginform_wrap input:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #177f88;
}

.loginform_wrap button[type="submit"] {
    background-color: #177f88;
    border: 1px solid #177f88;
    color: #fff;
    transition: 0.6s;
    display: block;
    margin: 10px auto 0;
    width: 100%;
}

.loginform_wrap button[type="submit"]:hover {
    background-color: #083438;
    border: 1px solid #177f88;
}


/*--------dashboard sec-----------
---------------------------------*/
.dashboard_sec {
    width: 100%;
    height: auto;
}

.dashboard_sec .statcard {
    border-radius: 8px;
}

.PCRegist_form .form-label {
    font-weight: 600 !important;
    color: #000 !important;
}


/*------Registration_card---------
--------------------------------*/
.Registration_card {
    position: relative;
    padding: 10px;
    border: 1px solid #585858;
    max-width: 600px;
    margin: auto;
    background-image: url(/resources/img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.Registration_card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}




.compo-info {
    font-size: 10px;
    color: #375e7b !important;
    background-color: #e3f1f9;
    padding: 0.5px 5px;
    border-radius: 20px;
    margin: 0px;
    position: absolute;
    left: 50px;
    top: -23%;
    z-index: 5;
}

/* .compo-info::before {
    content: "- ";
} */


/**********flatpickr***************/
.flatpickr-calendar {
    width: 220px !important;
    color: #375e7b !important;
    background-color: #e3f1f9 !important;
    box-shadow: 0px 0px 5px 0px #6d6d6d;
}

.flatpickr-time input:focus,
.flatpickr-time input:hover {
    background: #fff !important;
}

/*-----------------------------------
OTP css start this line
-----------------------------------*/
/* Card box */
.otpverification_modal {
    width: 100%;
    height: 100%;
    background-color: #00000065;
    position: fixed;
    top: -8px;
    left: 0;
    z-index: 99;
    display: none;
}

.otpverification_modal.open {
    display: block;
}

.otpverification_body {
    background: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 95%;
    max-width: 400px;
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.otpverification_body h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.otpverification_body p {
    color: #666;
    margin-bottom: 0.9rem;
    font-size: 0.95rem;
}

/* OTP boxes */
.otp_inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.otp_inputs input {
    width: 45px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
    transition: all 0.2s;
}

.otp_inputs input:focus {
    border-color: #177f88;
    box-shadow: 0 0 5px rgb(99, 233, 245, 0.5);
}

/* Button */
.otpverification_body button {
    width: 100%;
    padding: 12px;
    background: #177f88;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.otpverification_body button:hover {
    background: #177f88;
}

/* Resend text */
.resend {
    margin-top: 0.6rem;
    color: #666;
    font-size: 0.9rem;
}

.resend a {
    color: #177f88;
    text-decoration: none;
    font-weight: bold;
}

.resend a:hover {
    text-decoration: underline;
}







/******responsive all******/
/**************************/
@media (max-width: 991px) {

    .PCRegist_header .logo_desc h2 {
        font-size: 1em;
    }

    .PCRegist_header .logo_desc p {
        font-size: .8em;
    }
}

@media (max-width: 480px) {

    .PCRegist_form {
        padding: 10px;
    }

    .PCRegist_header .logo {
        margin: 0 auto;
    }

    .PCRegist_header {
        flex-wrap: wrap;
        position: relative;
        padding: 5px 5px;
    }

    .PCRegist_header .left {
        /* flex-wrap: wrap; */
        position: relative;
        z-index: 2;
    }

    .PCRegist_header .right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        opacity: .2;
        z-index: -1;
    }

    .PCRegist_form .card-header .card-title {
        font-size: 112%;
    }

    .PCRegist_header .right img {
        object-fit: cover;
    }

    .PCRegist_header .logo_desc h2 {
        font-size: .9em;
        font-weight: 600;
        text-align: left;
    }

    .PCRegist_header .logo_desc p {
        font-size: .7em;
        font-weight: 500;
        text-align: left;
    }

    .PCRegist_form .form-label {
        display: block;
        width: 100%;
    }

    .PCRegist_form .mb-2-480 {
        margin-bottom: 10px;
    }

    .main_header .navbar-brand img {
        height: 36px;
    }

    .PCRegist_form button[type="submit"] {
        margin: 10px auto;
    }

    .PCRegist_sec {
        height: auto;
        padding: 15px 0;
        background-image: url(/resources/img/bg-mobile.jpg);
    }

    input[type="time"]::before {
        content: attr(placeholder);
        color: #000;
        position: absolute;
        margin-left: 0px;
    }

    input[type="time"]:focus::before,
    input[type="time"]:valid::before {
        content: "";
    }
}


@media (max-width: 420px) {

    .PCRegist_header .logo_desc h2 {
        font-size: .8em;
    }

    .PCRegist_header .logo_desc p {
        font-size: .6em;
    }
}